@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
    --fontepadrao:'DM Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #111111;

}

header {
    background-color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.582);
    position: relative;
}

section {
    margin: 40px;
}

section#apresentacao {
    color: white;
    font-family: var(--fontepadrao);
    padding: 400px 0px 400px 20px;
}

section#apresentacao > h1 {
    font-size: 5vw;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.582);
}

section#apresentacao > p {
    font-size: 2vw;
}

section.img1 {
    background-position: right center;
    background-size: cover;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.514);
}

nav {
    padding: 15px;
    background-color: #111111;
    position: sticky;
    top: 0;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: var(--fontepadrao);
    font-size: 14px;
}

nav a:hover {
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

main {
    font-family: var(--fontepadrao);
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    color: white;
    text-align: center;
}

section.quadros > p {
    text-align: center;
    margin: auto;
    max-width: 800px;
}

h2.subtitulo {
    background-color: black;
    margin: auto;
    max-width: 840px;
    padding: 10px 0px 10px 20px;
    border-radius: 0px 15px 0px 0px;
}

p.destaque {
    color: rgb(209, 209, 209);
    background-color: rgba(0, 0, 0, 0.377);
    padding: 30px;
    font-size: 1.3em;
    border-radius: 0px 0px 0px 15px;

}

div.quadrinho img {
    display: inline-block;
    padding: 10px;
    width: 100px;
    height: 100px;
}