@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

:root {
    --corfonte: #707175;
    --corfundo: #111111;
    --cor1: #776AA6;
    --cor2: #886BF2;
    --cor3: #1D0C59;

    --fontepadrao: 'Archivo', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

